.searchBars {
  float:none;
  margin: 0 auto;
}
.mainHeader {
  text-align:center;
  font-size:1.75em;
}
.checkbox {
}

/*input {
  width: 90%;
}*/

a.tt-suggestion, .empty-message, .tt-suggestion {
  top: 10px!important;
  padding: 5px 10px!important;
  text-align: left!important;
  background-color: white!important;
  color: black!important;
  border-bottom: solid 1px #005fab;
  display:block
}

.head-divide{
  font-weight: bold
}

.twitter-typeahead {
  width: 100%;
}

.tt-dropdown-menu {
  width:100%;
}

.search {
  color: black!important;
}

.clearfix-b{
  text-align:center;
}

.cbp-rfgrid-inner {
  padding:10px;
  border:3px black solid;

  border-radius:5px;
  margin-top:10px;
}