@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose the right hospital</title>
    <meta name="description" content="HACKNY Hack by Abdi, Nick and Tom" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/main.css")" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  </head>
  <body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" style="color:#000;" href="#"><span style="font-weight: bold;"> Hospitals.cheap</span> <span style="color: grey;">Find the right hospital for your procedure</span></a>
            </div>
        </div>
    </nav>
    <div class="container">
      <header class="clearfix">
        <h1>Welcome</h1>
      </header>
    </div>

  </body>
</html>
