@(input: String)

<!DOCTYPE html>

<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose the right hospital</title>
    <meta name="description" content="" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/main.css")" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  </head>
  <body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" style="color:#000;" href="#"><span style="font-weight: bold;"> Reasonable.care</span> <span style="color: grey;">Find great care at a reasonable price</span></a>
            </div>
        </div>
    </nav>
    <div class="container">
      <header class="clearfix">
        <h1 class="mainHeader">Welcome to Reasonable Care!</h1><br>
        <hr/>
        <div class="form-group" id="prefetch">
              <h3>1: What procedure are you undergoing?</h3> <input class="form-control typeahead searchBars col-lg-4 col-lg-offset-4" type="text" placeholder="Enter a procedure">
              <h3>2: What do you value in a hospital?</h3> <input class="form-control typeahead searchBars col-lg-4 col-lg-offset-4" type="text" placeholder="Enter a quality">
              <br>
                <div class="form-group">
                  <div class="col-sm-offset-5 col-sm-10">
                    <button type="submit" class="btn btn-default">Find me a hospital</button>
                  </div>
                </div>



              </div>
        </div>
        @input
      </header>
    </div>
    col-lg-4 col-lg-offset-4

  </body>
</html>